/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/12/2017, 16:47:52
    Author     : creditos
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ene-2017, 19:19:42 JOSE DAVID NEIRA MARTRUS
    Author     : hh
 */

.label{
-fx-font-size:11pt;
-fx-font-family:Britannic Bold;
-fx-font-weight:bold;
}

.button:hover {
    
-fx-font-size: 12pt;
-fx-font-family: Britannic Bold;
-fx-font-weight:bold;
-fx-background: rgba(0,0,0,0);
-fx-color: #3a7999;
-fx-box-shadow: inset 0 0 0 3px #3a7999;
}

#lista{
-fx-font-size: 10pt;
-fx-font-family: Georgia;
-fx-font-weight:bold;

}

.table-view {
-fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+20%);
}
 

